.header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  width: 50%;
  margin: 15px auto;
  padding: 15px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  font-size: 23px;
  color: white;
  align-items: center;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advancedTitle {
  font-size: 16px;
}
.score {
  background: hsl(0, 0%, 100%);
  padding: 10px;
  width: 25%;
  text-align: center;
  display: grid;
  place-items: center;
  height: 30%;
}
.score h4 {
  color: hsl(228, 49%, 16%);
  font-size: 14px;
  align-self: end;
}
.score h1 {
  color: hsl(229, 25%, 31%);
  align-self: start;
}
@media screen and (max-width: 768px) {
  .header {
    width: 80%;
  }
  .score {
    width: 40%;
  }
}
